@keyframes floatMove {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px); 
  }
  50% {
    transform: translateY(0); 
  }
  75% {
    transform: translateY(20px); 
  }
}

.animate-float-move {
  animation: floatMove 15s linear infinite;
}
